<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="Database" type="com.med.disease.tracking.app.model.Database" />
		<typeAlias alias="Option" type="com.med.disease.tracking.app.model.Option" />
		<typeAlias alias="Question" type="com.med.disease.tracking.app.model.Question" />
		<typeAlias alias="QuestionOption" type="com.med.disease.tracking.app.model.QuestionOption" />
		<typeAlias alias="Survey" type="com.med.disease.tracking.app.model.Survey" />
		<typeAlias alias="EPass" type="com.med.disease.tracking.app.model.EPass" />
		<typeAlias alias="Feedback" type="com.med.disease.tracking.app.model.Feedback" />
		<typeAlias alias="User" type="com.med.disease.tracking.app.model.User" />
		<typeAlias alias="UserRisk" type="com.med.disease.tracking.app.model.UserRisk" />
		<typeAlias alias="Location" type="com.med.disease.tracking.app.model.Location" />
		<typeAlias alias="Risk" type="com.med.disease.tracking.app.model.Risk" />
	</typeAliases>
	<typeHandlers>
		<typeHandler handler="org.apache.ibatis.type.InstantTypeHandler" />
		<typeHandler handler="org.apache.ibatis.type.LocalDateTimeTypeHandler" />
		<typeHandler handler="org.apache.ibatis.type.LocalDateTypeHandler" />
		<typeHandler handler="org.apache.ibatis.type.LocalTimeTypeHandler" />
		<typeHandler handler="org.apache.ibatis.type.OffsetDateTimeTypeHandler" />
		<typeHandler handler="org.apache.ibatis.type.OffsetTimeTypeHandler" />
		<typeHandler handler="org.apache.ibatis.type.ZonedDateTimeTypeHandler" />
		<typeHandler handler="org.apache.ibatis.type.YearTypeHandler" />
		<typeHandler handler="org.apache.ibatis.type.MonthTypeHandler" />
		<typeHandler handler="org.apache.ibatis.type.YearMonthTypeHandler" />
		<typeHandler handler="org.apache.ibatis.type.JapaneseDateTypeHandler" />
	</typeHandlers>
	<mappers>
		<!-- Common -->
		<mapper resource="sql-mappings/common/Common.xml" />
		
		<!-- survey -->
		<mapper resource="sql-mappings/survey/Survey-ResultMappings.xml" />
		<mapper resource="sql-mappings/survey/Survey-SqlQueries.xml" />
		<mapper resource="sql-mappings/survey/Survey.xml" />
		
		<!-- epass -->
		<mapper resource="sql-mappings/epass/EPass-ResultMappings.xml" />
		<mapper resource="sql-mappings/epass/EPass-SqlQueries.xml" />
		<mapper resource="sql-mappings/epass/EPass.xml" />

		<!-- question -->
		<mapper resource="sql-mappings/question/Question-ResultMappings.xml" />
		<mapper resource="sql-mappings/question/Question-SqlQueries.xml" />
		<mapper resource="sql-mappings/question/Question.xml" />

		<!-- feedback -->
		<mapper resource="sql-mappings/feedback/Feedback.xml"/>
		<mapper resource="sql-mappings/feedback/Feedback-SqlQueries.xml"/>
		<mapper resource="sql-mappings/feedback/Feedback-ResultMappings.xml"/>

		<!-- UserInfo -->
		<mapper resource="sql-mappings/userInfo/UserInfo.xml"/>
		<mapper resource="sql-mappings/userInfo/UserInfo-SqlQueries.xml"/>
		<mapper resource="sql-mappings/userInfo/UserInfo-ResultMappings.xml"/>
		<mapper resource="sql-mappings/location/Location.xml"/>
		<mapper resource="sql-mappings/location/Location-SqlQueries.xml"/>
		<mapper resource="sql-mappings/location/Location-ResultMappings.xml"/>

		<!--Option-->
		<mapper resource="sql-mappings/option/Option.xml"/>

		<!--Risk-->
		<mapper resource="sql-mappings/risk/Risk.xml"/>

	</mappers>
</configuration>