<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="Question" type="com.med.disease.tracking.app.model.Question" />
		<typeAlias alias="QuestionSet" type="com.med.disease.tracking.app.model.QuestionSet" />
		<typeAlias alias="Feedback" type="com.med.disease.tracking.app.model.Feedback" />
		<typeAlias alias="User" type="com.med.disease.tracking.app.model.User" />
	</typeAliases>
	<mappers>
		<mapper resource="sql-mappings/question/Questionaries-ResultMappings.xml" />
		<mapper resource="sql-mappings/question/Questionaries-SqlQueries.xml" />
		<mapper resource="sql-mappings/question/Questionaries.xml" />
		<mapper resource="sql-mappings/feedback/Feedback.xml"/>
		<mapper resource="sql-mappings/feedback/Feedback-SqlQueries.xml"/>
		<mapper resource="sql-mappings/feedback/Feedback-ResultMappings.xml"/>
	</mappers>
</configuration>