<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="Question" type="com.med.disease.tracking.app.model.Question" />
		<typeAlias alias="Survey" type="com.med.disease.tracking.app.model.Survey" />
		<typeAlias alias="Feedback" type="com.med.disease.tracking.app.model.Feedback" />
		<typeAlias alias="User" type="com.med.disease.tracking.app.model.User" />
	</typeAliases>
	<mappers>
		<mapper resource="sql-mappings/survey/Survey-ResultMappings.xml" />
		<mapper resource="sql-mappings/survey/Survey-SqlQueries.xml" />
		<mapper resource="sql-mappings/survey/Survey.xml" />
		<mapper resource="sql-mappings/question/Question-ResultMappings.xml" />
		<mapper resource="sql-mappings/question/Question-SqlQueries.xml" />
		<mapper resource="sql-mappings/question/Question.xml" />
		<mapper resource="sql-mappings/feedback/Feedback.xml"/>
		<mapper resource="sql-mappings/feedback/Feedback-SqlQueries.xml"/>
		<mapper resource="sql-mappings/feedback/Feedback-ResultMappings.xml"/>

	<!-- UserInfo -->
		<mapper resource="sql-mappings/userInfo/UserInfo.xml"/>
		<mapper resource="sql-mappings/userInfo/UserInfo-SqlQueries.xml"/>
		<mapper resource="sql-mappings/userInfo/UserInfo-ResultMappings.xml"/>
	</mappers>
</configuration>